<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.github.grubber.dailytopic">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.github.grubber.dailytopic.DTApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.github.grubber.dailytopic.main.MainActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/MainTheme">
            <intent-filter tools:ignore="GoogleAppIndexingWarning">
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.github.grubber.dailytopic.article.ArticleActivity"
            android:hardwareAccelerated="true"
            android:process=":article"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.github.grubber.dailytopic.article.create.CreateArticleActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.github.grubber.dailytopic.bookshelf.details.BookshelfDetailsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.github.grubber.dailytopic.bookshelf.chapter.ChapterActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.github.grubber.dailytopic.voice.details.VoiceDetailsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.github.grubber.dailytopic.voice.joinus.JoinUsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.github.grubber.dailytopic.settings.SettingsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.github.grubber.dailytopic.feedback.FeedbackActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>
